In [16]:
import plotly.graph_objects as go
import sqlalchemy as db
import pandas as pd
import plotly.express as px
import os
from dotenv import load_dotenv
load_dotenv()

postgres_username = os.getenv('POSTGRES_USERNAME')
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_host = os.getenv('POSTGRES_HOST')

eng = db.create_engine(f'postgresql://{postgres_username}:{postgres_password}@{postgres_host}/Recreation')

sql = "SELECT * FROM rec_acts WHERE act_type <> 'AlpineSki'"

df = pd.read_sql_query(sql, eng).sort_values(by=['act_date'], ascending=False)

In [17]:
df['hour'] = df['start_time'].astype('str').str.split(':').str[0].astype('int')
df['year'] = df['act_date'].astype('str').str.split('-').str[0].astype('int')
df['month'] = df['act_date'].astype('str').str.split('-').str[1].astype('int')
df['day'] = df['act_date'].astype('str').str.split('-').str[2].astype('int')
df['duration_hours'] = (df['duration'] / 60 / 60).round(1)
df['duration_minutes'] = (df['duration'] / 60).round(1)
df

,strava_id,act_type,act_date,distance,duration,elevation,geom,start_time,act_name,hour,year,month,day,duration_hours,duration_minutes
1298,4064649946,Walk,2020-09-15,2.22,2500,115,0102000020E61000009D000000A4DFBE0E9C435AC08CD6...,11:38:31,Lunch Walk,11,2020,9,15,0.7,41.7
621,4058006637,Walk,2020-09-14,2.20,2184,112,0102000020E610000088000000D2FBC6D79E435AC085B1...,05:09:10,Morning Walk,5,2020,9,14,0.6,36.4
936,4054235465,Walk,2020-09-13,2.47,2552,115,0102000020E6100000A00000008109DCBA9B435AC04C4F...,07:45:32,Morning Walk,7,2020,9,13,0.7,42.5
309,4049245484,Walk,2020-09-12,2.18,2348,108,0102000020E6100000920000005D33F9669B435AC0D482...,09:04:36,Morning Walk,9,2020,9,12,0.7,39.1
616,4044442337,Walk,2020-09-11,2.75,3203,180,0102000020E6100000920000009CC420B072485AC03FA9...,09:05:29,Morning Walk,9,2020,9,11,0.9,53.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,895034289,Ride,2014-05-18,12.38,6109,130,0102000020E6100000A5010000E1455F419A435AC0B0AC...,14:39:04,Ride,14,2014,5,18,1.7,101.8
1454,895034464,Ride,2014-05-15,16.25,3702,597,0102000020E6100000DC010000E1455F419A435AC0A987...,20:51:10,Ride,20,2014,5,15,1.0,61.7
943,895034625,Run,2014-05-14,2.95,1489,91,0102000020E61000009D0000000F62670A9D435AC0D482...,18:20:16,Run,18,2014,5,14,0.4,24.8
1452,895034808,Ride,2014-05-10,11.27,2755,372,0102000020E61000003A01000028F224E99A435AC01B2F...,19:27:44,Ride,19,2014,5,10,0.8,45.9
937,895034979,Run,2014-05-06,2.95,1588,95,0102000020E6100000A500000021CD58349D435AC0A262...,21:47:46,Run,21,2014,5,6,0.4,26.5

In [100]:
year = df.groupby('year').agg({'duration_hours': 'sum'}).reset_index()
month = df.groupby('month').agg({'duration_hours': 'sum'}).reset_index()
month

    month  duration_hours
0       1            76.1
1       2            68.0
2       3           115.0
3       4           100.3
4       5           156.5
5       6           106.4
6       7           170.0
7       8           139.5
8       9           108.7
9      10            82.8
10     11            52.0
11     12            52.8